/****************************TAGS****************************/
body {
  background-color: #EFFFFD;
  margin: 0;
  text-align: center;
  font-family: 'Flamenco', cursive;
}

h1 {
  font-family: 'Belgrano', serif;
}

p {
  line-height: 1.5;
  font-size: 20px;
}

table {
  border-spacing: 20px 10px;
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: left;
}

a {
  color: #EFFFFD;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  width: 35px;
}

/****************************CLASSES****************************/
.note {
  font-size: 12px;
  color: black;
}

.blue-hr {
  border-color: #66bfff;
}

.white-hr {
  border-color: #8afff1;
}

/**FIRST-DIV**/
.first-div {
  height: 650px;
  width: 100%;
}

.images {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 0.3rem #0096FF);
}

.dp {
  border-radius: 100%;
  width: 175px;
  position: relative;
  top: 55px;
}

.dp-cover {
  width: 350px;
  position: relative;
  bottom: 75px;
}

.intro {
  color: #0096FF;
  position: relative;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  bottom: 60px;
}

.name {
  font-family: 'Sofia', cursive;
  margin: 0;
  font-size: 46px;
}

.designation {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  bottom: 7px;
}

/**SECOND-DIV**/
.second-div {
  background: #0096FF;
  width: 100%;
  color: #EFFFFD;
}

.about-description {
  display: inline-block;
}

/**THIRD-DIV**/
.third-div {
  color: #0096FF;
}

.skills-div {
  font-weight: bold;
  margin: 0 auto;
  width: 85%;
}

.skills {
  display: inline-block;
  margin: 0 20px;
}

.skills-td {
  text-align: left;
  width: 120px;
}

/**FORTH-DIV**/
.forth-div {
  background: #0096FF;
  color: #EFFFFD;
}

.works-div {
  margin: 0 auto;
  width: 80%;
}

.works {
  width: 200px;
  height: 250px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin: 20px;
}

.works-name {
  color: #0096FF;
  font-weight: bold;
  width: 200px;
  text-align: center;
  position: relative;
  bottom: 14px;
}

.works-img {
  height: 200px;
  width: 200px;
  border-radius: 8px 8px 0 0;
}

/**FIFTH-DIV**/
.fifth-div {
  color: #0096FF;
  position: relative;
}

.socials-div {
  margin: 0 auto;
  width: 80%;
}

.socials-png-div {
  display: inline-block;
  margin: 10px;
}

.socials-row {
  display: inline-block;
  margin: 0;
}

.socials-png {
  background-color: #0096FF;
  border-radius: 100%;
  height: 55px;
}

/**SIXTH-DIV**/
.sixth-div {
  background: #0096FF;
  color: #EFFFFD;
}

label {
  font-family: 'Belgrano', serif;
  font-weight: lighter;
  color: #EFFFFD;
}

input {
  font-family: 'Flamenco', cursive;
  font-weight: bold;
  background: #EFFFFD;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
  color: #0096FF;
  font-size: 15px
}

textarea {
  font-family: 'Flamenco', cursive;
  font-weight: bold;
  background: #EFFFFD;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
  color: #0096FF;
  font-size: 15px;
  width: 146px;
}

input[type=submit] {
  cursor: pointer;
}

input[type=reset] {
  cursor: pointer;
}

span {
  color: red;
}

.contact-form-div {
  margin: 0 auto;
  width: 90%;
}

.contact-form {
  display: inline-block;
  margin: 3px 5px;
  width: 160px;
  text-align: left;
}

.submit-div {
  position: relative;
  top: 20px;
}

.copyright {
  font-family: 'Belgrano', serif;
  font-size: 10px;
  font-weight: lighter;
  letter-spacing: 1px;
}

/****************************ID****************************/
/****************************HOVER****************************/
a:hover {
  color: #7D1E6A;
}

/**FIRST-DIV-HOVER**/
.images:hover {
  filter: drop-shadow(0 0 0.3rem #7D1E6A);
  transform: scale(1.01);
}

.name:hover {
  transform: scale(1.04);
  color: #7D1E6A;
}

.designation:hover {
  transform: scale(1.04);
  color: #7D1E6A;
}

/**FOURTH-DIV-HOVER**/
.works:hover {
  transform: scale(1.1);
}

/**FIFTH-DIV-HOVER**/
.twitter:hover {
  transform: scale(1.1);
  background-color: #7D1E6A;
}

.linkedin:hover {
  transform: scale(1.1);
  background-color: #7D1E6A;
}

.github:hover {
  transform: scale(1.1);
  background-color: #7D1E6A;
}

.instagram:hover {
  transform: scale(1.1);
  background-color: #7D1E6A;
}

.discord:hover {
  transform: scale(1.1);
  background-color: #7D1E6A;
}

/**SIXTH-DIV-HOVER**/
.works-name:hover {
  transform: scale(1.1);
  color: #7D1E6A;
}

/**SIXTH-DIV-HOVER**/
input[type=submit]:hover {
  color: #7D1E6A;
}

input[type=reset]:hover {
  color: #7D1E6A;
}

/****************************MARGINS****************************/
.top-margin {
  background-color: #0096FF;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-margin {
  background-color: #0096FF;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}

.asw {
  color: #EFFFFD;
  border-spacing: 18px 2px;
  position: absolute;
  top: 10px;
  right: 2%;
}

.home-btn {
  background-color: #EFFFFD;
  position: absolute;
  height: 22px;
  width: 22px;
  top: 10px;
  left: 3%;
}

.home-btn:hover {
  background-color: #7D1E6A;
  transform: scale(1.1);
}

.about-btn:hover {
  color: #7D1E6A;
  transform: scale(1.1);
}

.skills-btn:hover {
  color: #7D1E6A;
  transform: scale(1.1);
}

.works-btn:hover {
  color: #7D1E6A;
  transform: scale(1.1);
}

.contact-btn:hover {
  color: #7D1E6A;
  transform: scale(1.1);
}
